version: "3.5"

services:
  dopehotz:
    image: jihoon6372/dopehotz:0.9
    container_name: dopehotz_0.9

    volumes:
      - ./tmp:/tmp/
      - ./data/env:/home/docker/django/env/
      - ./static:/home/docker/django/static/

    links:
      - db:db

    ports:
      - "8000:8000"
      - "50022:22"

  db:
    image: jihoon6372/dopehotz:mysql_v.0.1
    container_name: mysql_0.2

    volumes:
      - ./mysql:/var/lib/mysql/

    ports:
      - "3306:3306"

  nginx:
    image: jihoon6372/dopehotz:nginx_v.0.2
    container_name: nginx_0.2

    volumes:
      - ./tmp:/tmp/
      - ./static:/home/dopehotz/static/

    ports:
      - "80:80"
      - "443:443"
