version: "3.5"

services:
  dopehotz:
    image: jihoon6372/dopehotz:1.0.1
    container_name: dopehotz_server

    volumes:
      - ./tmp:/tmp/
      - ./data/env:/home/docker/django/env/
      - ./static:/home/docker/django/static/
      - ./assets:/home/docker/django/assets/

    links:
      - db:db

    ports:
      - "8000:8000"
      - "50022:22"

  db:
    image: jihoon6372/dopehotz:mysql_v.0.1
    container_name: mysql_0.2

    volumes:
      - ./mysql:/var/lib/mysql/

    ports:
      - "3306:3306"

  nginx:
    image: jihoon6372/dopehotz:nginx_ssl_server_v0.4.6
    container_name: nginx_ssl

    volumes:
      - ./tmp:/tmp/
      - ./static:/home/dopehotz/static/
      - ./assets:/home/dopehotz/assets/
      - ./data/logrotate.d/nginx:/etc/logrotate.d/nginx

      - ./dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem

      - /docker-volumes/etc/letsencrypt/live/api.dopehotz.com/fullchain.pem:/etc/letsencrypt/live/api.dopehotz.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/api.dopehotz.com/privkey.pem:/etc/letsencrypt/live/api.dopehotz.com/privkey.pem

      - /docker-volumes/etc/letsencrypt/live/tower.dopehotz.com/fullchain.pem:/etc/letsencrypt/live/tower.dopehotz.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/tower.dopehotz.com/privkey.pem:/etc/letsencrypt/live/tower.dopehotz.com/privkey.pem

      - /docker-volumes/etc/letsencrypt/live/adm.dopehotz.com/fullchain.pem:/etc/letsencrypt/live/adm.dopehotz.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/adm.dopehotz.com/privkey.pem:/etc/letsencrypt/live/adm.dopehotz.com/privkey.pem

      - /docker-volumes/etc/letsencrypt/live/auth.dopehotz.com/fullchain.pem:/etc/letsencrypt/live/auth.dopehotz.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/auth.dopehotz.com/privkey.pem:/etc/letsencrypt/live/auth.dopehotz.com/privkey.pem

      - /docker-volumes/etc/letsencrypt/live/dopehotz.com/fullchain.pem:/etc/letsencrypt/live/dopehotz.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/dopehotz.com/privkey.pem:/etc/letsencrypt/live/dopehotz.com/privkey.pem

      - /docker-volumes/etc/letsencrypt/live/www.dopehotz.com/fullchain.pem:/etc/letsencrypt/live/www.dopehotz.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/www.dopehotz.com/privkey.pem:/etc/letsencrypt/live/www.dopehotz.com/privkey.pem

      - /home/yun/nginxfiles/dist/:/home/yun/nginxfiles/dist/


    ports:
      - "80:80"
      - "443:443"
